# Maven
backend/target/
backend/*.jar

# Node
frontend/node_modules/
frontend/dist/

# IDE
.idea/
*.iml
.vscode/

# Env
.env
*.env

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
